<h1>Heroes</h1>
<hr>


<div class="row">
  <div class="col-md-12 text-right mb-3">
    <button [routerLink]="['/','heroe', 'nuevo']" type="button" class="btn btn-outline-primary" name="button">Nuevo</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="table-responsive">
      <table class="table ">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let k of heroes | keys; let i = index">
            <td>{{i + 1}}</td>
            <td>{{heroes[k].nombre}}</td>
            <td>{{heroes[k].casa}}</td>
            <td>
              <button type="button" class="btn btn-outline-success" [routerLink]="['/','heroe', k]" name="button">Editar</button>
              <button type="button" class="btn btn-outline-danger ml-1" name="button" (click)="eliminarHeroe(k)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
