<h1>Heroes</h1>
<hr>


<div class="row">
  <div class="col-md-12 text-right mb-3">
    <button [routerLink]="['/','heroe', 'nuevo']" type="button" class="btn btn-outline-primary" name="button">Nuevo</button>
  </div>
</div>

<div class="row">
  <div class="col-md-12">

    <div class="table-responsive">
      <table class="table ">
        <thead class="thead-inverse">
          <tr>
            <th>#</th>
            <th>Nombre</th>
            <th>Casa</th>
            <th>Opciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

</div>
